.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  :host {
    width: 100%;
  }
}

.select-container {
  width: 20%;
  @media (max-width: 1050px) {
    width: 25%;
  }
  @media (max-width: 900px) {
    width: 30%;
  }
  @media (max-width: 500px) {
    width: 50%;
  }
  margin: auto;
}

.services-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  h3 {
    margin-top: 3%;
    align-self: center;
  }
}

.services-card-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1%;
  padding: 10px 10px;
}

.services {
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 4%;
}

.services-card {
  width: 95%;
  height: 95%;
  max-width: 300px;
  max-height: 400px;
  flex-flow: column;
  box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.08);
  &:hover {
    transition: all 0.3s;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
}

mat-card.mat-card {
  mat-card-header.mat-card-header {
    display: flex;
    justify-content: center;
    align-items: center;
    mat-card-title.mat-card-title {
      margin-top: 10px;
      color: rgb(3, 156, 207);
    }
  }
}

.take-order {
  width: 100%;
  height: 100%;
}
