<mat-dialog-content>
  <form [formGroup]="orderForm" class="order-dialog-form">
    <mat-form-field>
      <mat-label>Address</mat-label>
      <input
        matInput
        type="text"
        value="data.address"
        formControlName="address"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Order Status</mat-label>
      <mat-select formControlName="status">
        <mat-option *ngFor="let status of statuses" [value]="status.value">
          {{ status.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <span>Products</span>
    <cdk-virtual-scroll-viewport itemSize="50" class="order-products-scroll">
      <div *ngFor="let product of products">
        <span>{{ product.name }}</span>
      </div>
    </cdk-virtual-scroll-viewport>
    <button mat-button color="accent">Download PDF</button>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-button color="accent" mat-dialog-close>Close</button>
  <button mat-button color="accent">Update Order</button>
</mat-dialog-actions>
