.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: radial-gradient(
    circle,
    rgba(221, 220, 220, 1) 31%,
    rgba(230, 230, 230, 1) 72%
  );
}

.toolbar-logo {
  display: flex;
  height: 90%;
  width: 10%;
  img {
    border-radius: 5px;
    width: 80px;
    height: 100%;
  }
}

.toolbar-buttons {
  display: flex;
  justify-content: space-between;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;

  section {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: linear-gradient(to bottom, #3fd5fe 0%, #7886ff 100%);
    margin: 5% 0 5% 0;
  }
}
.wrapper {
  display: flex;
  justify-content: space-around;
  margin: auto;
  width: 100%;
  height: 300px;

  .buttons {
    margin: auto;
    display: flex;
    justify-content: space-around;
    button {
      width: 100%;
      height: 25%;
      font-size: 2em;
    }
  }

  .text {
    margin: auto;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  // background: linear-gradient(
  //   to right,
  //   rgba(0, 0, 0, 1) 0%,
  //   rgba(98, 98, 98, 1) 100%
  // );
  background-color: rgba(0, 0, 0, 0.9);
}
.info {
  color: white;
  margin: auto;
  margin-left: 30px;
}

.footer-logo {
  display: flex;
  max-height: 100px;
  margin: auto;
  margin-right: 30px;

  img {
    border-radius: 5px;
    width: 100px;
    height: 100px;
  }
}
